@{
    ViewData["Title"] = "Home Page";
}


    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-12 text-center">
                        <h5 class="card-header bg-dark-blue text-white h3">Film Name</h5>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://s3.cloud.ngn.com.tr/kitantik/images/2020-05-05/0z8kgltk9slrxe51own.jpg"
                             class="img-fluid img-thumbnail" style="height: 100%;" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.
                            </p>
                            <p><b>Cinema: </b> Cinema 1</p>
                            <p><b>Category: </b> Drama</p>
                            <p><b>Start Date: </b> 26/12/2023</p>
                            <p><b>End Date: </b> 26/12/2023</p>
                            <button type="button" class="btn btn-outline-dark float-end mb-3">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-12 text-center">
                        <h5 class="card-header bg-dark-blue text-white h3">Film Name</h5>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://s3.cloud.ngn.com.tr/kitantik/images/2020-05-05/0z8kgltk9slrxe51own.jpg"
                             class="img-fluid img-thumbnail" style="height: 100%;" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.
                            </p>
                            <p><b>Cinema: </b> Cinema 1</p>
                            <p><b>Category: </b> Drama</p>
                            <p><b>Start Date: </b> 26/12/2023</p>
                            <p><b>End Date: </b> 26/12/2023</p>
                            <button type="button" class="btn btn-outline-dark float-end mb-3">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-12 text-center">
                        <h5 class="card-header bg-dark-blue text-white h3">Film Name</h5>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://s3.cloud.ngn.com.tr/kitantik/images/2020-05-05/0z8kgltk9slrxe51own.jpg"
                             class="img-fluid img-thumbnail" style="height: 100%;" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.
                            </p>
                            <p><b>Cinema: </b> Cinema 1</p>
                            <p><b>Category: </b> Drama</p>
                            <p><b>Start Date: </b> 26/12/2023</p>
                            <p><b>End Date: </b> 26/12/2023</p>
                            <button type="button" class="btn btn-outline-dark float-end mb-3">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-12 text-center">
                        <h5 class="card-header bg-dark-blue text-white h3">Film Name</h5>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://s3.cloud.ngn.com.tr/kitantik/images/2020-05-05/0z8kgltk9slrxe51own.jpg"
                             class="img-fluid img-thumbnail" style="height: 100%;" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.
                            </p>
                            <p><b>Cinema: </b> Cinema 1</p>
                            <p><b>Category: </b> Drama</p>
                            <p><b>Start Date: </b> 26/12/2023</p>
                            <p><b>End Date: </b> 26/12/2023</p>
                            <button type="button" class="btn btn-outline-dark float-end mb-3">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

