@model Movie

@{
	ViewData["Title"] = "Create Movie";
}

<h1 class="text-primary-emphasis text-center">Create Movie</h1>

<form method="post" asp-controller="Movies" asp-action="Create">
	<div class="mb-3 form-group">
		<label asp-for="Title" class="form-label"></label>
		<input asp-for="Title" class="form-control" placeholder="Title">
	</div>
	<div class="mb-3 form-group">
		<label asp-for="Description" class="form-label"></label>
		<textarea class="form-control" asp-for="Description" placeholder="Description"></textarea>
	</div>
	<div class="mb-3 form-group">
		<label asp-for="Director" class="form-label"></label>
		<input asp-for="Director" class="form-control" placeholder="Director">
	</div>
	<div class="mb-3 form-group">
		<label asp-for="StartDate" class="form-label"></label>
		<input asp-for="StartDate" class="form-control" type="date" placeholder="Start date">
	</div>
	<div class="mb-3 form-group">
		<label asp-for="EndDate" class="form-label"></label>
		<input asp-for="EndDate" class="form-control" type="date" placeholder="End date">
	</div>
	<div class="mb-3 form-group">
		<label asp-for="ImageUrl" class="form-label"></label>
		<input asp-for="ImageUrl" class="form-control" placeholder="Image URL">
		<span asp-validation-for="ImageUrl" class="text-danger"></span>
	</div>
	<div class="mb-3 form-group">
		<label asp-for="GenreId" class="form-label"></label>
		<select class="form-select form-control" asp-for="GenreId" asp-items="@ViewBag.Genres" aria-label="Default select example">
			<option selected disabled>Choose a genre</option>
		</select>
	</div>
	<div class="mb-3 form-group">
		<label asp-for="TrailerLink" class="form-label"></label>
		<input asp-for="TrailerLink" class="form-control" placeholder="Trailer link">
	</div>
	<button type="submit" class="btn btn-success">Submit</button>
</form>